* { margin: 0; padding: 0; border: 0; outline: 0; }

body
{
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	background: #fff;
	color: #444;
  line-height: 1.4;
}
body:before 
{ 
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
 }
ul { list-style-type: none; }

.uclu
{
  background: #f60;
  min-height: 100px;
}

.nav
{
  float: right !important;
  line-height: 102px;
  text-align: right !important;
}
.nav li { display: inline-block; }
.nav a
{
  /*color: #35185B;*/
  color: #666;
  font-weight: bold;
  text-decoration: none;
  padding: 0 20px;
  font-weight: 150%;
  display: block;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.nav a:hover
{
  color: #f60;
}
.nav a.active
{
  border-bottom: 4px solid #f60;
  color: #f60;
}

.masthead
{
  background-color: #333;
  min-height: 400px;
  background-image: url('img/bg/1.jpg');
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
  color: #111;
  font-size: 200%;
}

.main
{
  margin-top: 20px;
}
.content { display: inline-block; margin-bottom: 20px; }
.content h2
{
  color: #f60;
  font-size: 300%;
}
.content p
{
  color: #444;
  font-size: 120%;
  margin-bottom: 5px;
}

.content img
{
  width: 300px;
  margin: 0 auto;
  border: 7px solid #eee;
}
.content img:hover
{
  border-color: #f60;
}

.clear
{
  clear: both;
}

.footer
{
  text-align: center;
  color: #999;
  margin: 10px 0;
}

input, textarea
{
  border: 1px solid #c4c4c4;
  padding: 5px;
  width: 360px;
  color: #444;
  font-size: 120%;
  display: block;
  margin-bottom: 10px;
  transition: width 0.3s;
  -moz-transition: width 0.3s;
  -webkit-transition: width 0.5s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
textarea
{
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
}

input:focus, textarea:focus
{
  width: 400px;
  box-shadow: 0px 0px 5px rgba(255,102,0,0.9);
  border-color: #f60;
}

.btn
{
  background: #ddd;
  color: #666;
  width: 372px;
  border: 2px solid #ccc;
  cursor: pointer;
}
.btn:hover
{
  border-color: #f60;
}

h1.page-title
{
  font-size: 300%;
}

.join-us
{
  display: block;
  width: 300px;
  color: #fff;
  background: #f60;
  padding: 30px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 0 auto;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
}
.join-us:hover
{
  background: #f90;
}